@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

/* Define theme variables using @theme directive */
@theme {
  --primary-100: #FFE8F0;
  --primary: #EE2B69;
  --secondary: #FBE843;
  --black-100: #333333;
  --black-200: #141413;
  --black-300: #7D8087;
  --black: #000000;
  --white-100: #F7F7F7;
  --white: #FFFFFF;
  --font-work-sans: "Work Sans", sans-serif;
  --radius: 0.375rem;
}


/*@plugin "@tailwindcss-animate"*/
/*@plugin "@tailwindcss/typography";*/

@layer utilities {
  .pattern-bg {
    background-image: linear-gradient(
            to right,
            transparent 49.5%,
            rgba(251, 232, 67, 0.2) 49.5%,
            rgba(251, 232, 67, 0.6) 50.5%,
            transparent 50.5%
    );
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;
  }
}
